@charset "utf-8";
/* 
 Title: Colour Converter
 Author:  Raidan
 Date: July 30, 2020
 https://raidan.com.au
 */
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.woff') format('woff'), url('../fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.navbar-rpd {
	background-color: #eaeaea !important;
}
body{
	background-color: #ffffff;
	color: #4d4d4d !important;
	opacity: 0.5;
}
h1 {
	margin-top: 5px !important;
}
a {
	color: #fff !important;
	opacity: 0.5;
}
a:hover {
	text-decoration: none !important;
	color: #000 !important;
}
.navbar-rpd .nav li a {
	border-radius: 6px;
}

.navbar-rpd .nav li a:hover {
	background-color: #fefefe;
	color: #000 !important;
}

.inputTab{
	height:auto;
	text-align:center;
	display:block;
	overflow:hidden;
	padding-top:300px;
}
@media only screen and (min-width: 468px) and (max-width: 600px) {
	.inputTab{
		width:400px;
	}
}
@media only screen and (max-width: 468px) {
	.inputTab{
		width:320px;
	}
}
.inputTab form input{
	width:88%;
	margin-left:5%;
	margin-right:5%;
	height:100px;
	background-color:transparent;
	border:0;
	font-family:'Lato';
	font-size:24px;
	padding:10px;
	color:#000;
	border:1px solid #eaeaea;
	border-radius: 6px;
	text-align: center;
}
.inputTab form input:focus{
	background-color: transparent;
}
.footer{
	width:100% !important;
	position:absolute !important;
	bottom:0 !important;
}

footer {
	background-color: rgba(0, 0, 0, 0.5) !important;
}